

<configuration>
<!-- Appender pour les logs généraux -->
<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
</appender>
<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/app.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>logs/app-%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
</appender>

<!-- Appender spécifique pour les achats -->
<appender name="PURCHASE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/purchase.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>logs/purchase-%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - [PURCHASE] %msg%n</pattern>
    </encoder>
</appender>

<!-- Logger pour le package des achats -->
<logger name="com.devalgas.poc_logging.rest" level="TRACE" additivity="false">
    <appender-ref ref="PURCHASE"/>
</logger>

<!-- Logger général -->
<root level="INFO">
    <appender-ref ref="FILE"/>
</root>
</configuration>